<div id="app">
  <nav class="navbar navbar-expand navbar navbar-dark bgprimary">
  <a href="#" class="navbar-brand">NareshIT</a>
  <ul class="navbar-nav mr-auto" routerLinkActive="active">
  <li class="nav-item">
  <a href="/home" class="nav-link textwhite" routerLink="home">Home </a>
  </li>
  <li class="nav-item" *ngIf="showAdminPage">
  <a href="/admin" class="nav-link textwhite" routerLink="admin">Admin</a>
  </li>
  <li class="nav-item" *ngIf="showModeratorPage">
  <a href="/mod" class="nav-link textwhite" routerLink="mod">Moderator</a>
  </li>
  <li class="nav-item">
  <a href="/user" class="nav-link textwhite" *ngIf="isLoggedIn" routerLink="user">User</a>
  </li>
  </ul>

  <ul class="navbar-nav ml-auto" *ngIf="!isLoggedIn">
  <li class="nav-item">
  <a href="/register" class="nav-link textwhite" routerLink="register">Sign Up</a>
  </li>
  <li class="nav-item">
  <a href="/login" class="nav-link textwhite" routerLink="login">Login</a>
  </li>
  </ul>

  <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn">
  <li class="nav-item">
  <a href="/profile" class="nav-link textwhite" routerLink="profile">{{ username }}</a>
  </li>

  <li class="nav-item">
  <a href class="nav-link textwhite" (click)="logout()">LogOut</a>
  </li>
  </ul>
  </nav>

  <div class="container">
  <router-outlet></router-outlet>
  </div>
  </div>
