<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
     xmlns:context="http://www.springframework.org/schema/context"
     xsi:schemaLocation="http://www.springframework.org/schema/beans
         http://www.springframework.org/schema/beans/spring-beans.xsd
         http://www.springframework.org/schema/context
         http://www.springframework.org/schema/context/spring-context.xsd">

   <!--<context:annotation-config/>-->
   <!--<context:property-placeholder location="classpath:applicaton.properties" />-->
	<context:component-scan base-package="com.feuji.springannotations"></context:component-scan>
	<context:property-placeholder location="application.properties"/>
	   
   <bean id="employee" class="com.feuji.springannotations.Employee">
	   <property name="id" value="1"></property>
	   <property name="name" value="Harry"></property>
	   <property name="designation" value="B.tech"></property>
	  <!-- <property name="address" ref="address"></property>-->
   </bean>
   
    <bean id="employee1" class="com.feuji.springannotations.Employee">
	   <property name="id" value="1"></property>
	   <property name="name" value="Ron"></property>
	   <property name="designation" value="B.tech"></property>
	  <!-- <property name="address" ref="address"></property>-->
   </bean>
   
   <bean id="address" class="com.feuji.springannotations.Address">
	   <property name="city" value="Hyderabad"></property>
	   <property name="state" value="Telangana"></property>
   </bean>
   
   <bean id="address1" class="com.feuji.springannotations.Address">
	   <property name="city" value="Vizag"></property>
	   <property name="state" value="Andhra Pradesh"></property>  </bean>
   
   <bean id="department" class="com.feuji.springannotations.Department">
	   <property name="id" value="1"></property>
	   <property name="departmentName" value="IT"></property>   
   </bean>
   
    <bean id="department1" class="com.feuji.springannotations.Department">
	   <property name="id" value="2"></property>
	   <property name="departmentName" value="Developer"></property>  
   </bean>
   
   <!--<bean class="org.springframework.beans.factory.config.PropertiesFactoryBean">
	   <property name="location">
		   <value>classpath:applicaton.properties</value>
	   </property>
   </bean>-->

</beans>